<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portal de acceso de la Universidad Nexus">
    <title>Panel administrador</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- Estilos del proyecto -->
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<main class="mobile-screen">
    <div class="screen-content">
        <header class="top-bar">
            <div class="brand">
                <div class="return">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="brand-icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
                <div class="brand-text">
                    <h2>Portal Nexus</h2>
                    <span>Inicio</span>
                </div>
            </div>
            <div class="header-actions">
                <i class="fa-solid fa-gear"></i>
                <div class="notification-icon">
                    <i class="fa-regular fa-bell"></i>
                    <div class="notification-dot"></div>
                </div>
                <!-- en un furuo: th:src="@{/img/user.jpg}" -->
                <div class="avatar">
                    <img src="https://ui-avatars.com/api/?name=Valeria+Mendez&background=3182CE&color=fff" alt="User">
                </div>
            </div>
        </header>

        <div class="administrador-pill">
            <span class="administrador-pill-texto"><i class="fa-solid fa-user-shield"></i>ADMINISTRADOR ● SERVICIOS ESCOLARES</span>
        </div>
        <section class="greeting-section">
            <div class="greeting-header">
                <h1>Consola escolar 2026-1</h1>
            </div>
        </section>

        <section class="slider-consola-escolar">
            <div class="tarjeta-slider">
                <h2>Inscritos <i class="fa-solid fa-user-check"></i></h2>
            </div>

            <div class="tarjeta-slider">
                <h2>Inscritos <i class="fa-solid fa-user-check"></i></h2>
            </div>
        </section>

        <section class="gestion-rapida-accesos">
            <h2>Gestión rápida</h2>
            <div class="contenedor-accesos-directos">
                <div class="tarjeta-acceso-directo ">
                    <div class="icono-acceso-directo azul-pastel-bg"><i class="fa-regular fa-file-lines"></i></div>
                    <h2></h2>
                    <p></p>
                </div>
                <div class="tarjeta-acceso-directo ">
                    <div class="icono-acceso-directo morado-pastel-bg"><i class="fa-regular fa-calendar"></i>   </div>
                    <h2></h2>
                    <p></p>
                </div>
                <div class="tarjeta-acceso-directo">
                    <div class="icono-acceso-directo naranja-pastel-bg"><i class="fa-solid fa-user-plus"></i></div>
                    <h2></h2>
                    <p></p>
                </div>
                <div class="tarjeta-acceso-directo">
                    <div class="icono-acceso-directo rosa-pastel-bg" ><i class="fa-solid fa-bullhorn"></i></div>
                    <h2></h2>
                    <p></p>
                </div>

            </div>
        </section>


    </div>

    <nav class="bottom-nav">
        <div class="nav-item active">
            <div class="nav-icon"><i class="fa-solid fa-house"></i></div>
            <span>Inicio</span>
        </div>
        <div class="nav-item">
            <div class="nav-icon"><i class="fa-solid fa-graduation-cap"></i></div>
            <span>Inscripción</span>
        </div>
        <div class="nav-item">
            <div class="nav-icon"><i class="fa-regular fa-calendar"></i></div>
            <span>Horario</span>
        </div>
        <div class="nav-item">
            <div class="nav-icon"><i class="fa-solid fa-clock-rotate-left"></i></div>
            <span>Historial</span>
        </div>
    </nav>
</main>
</body>
</html>